<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap practice - About page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a837aa5a0e.js" crossorigin="anonymous"></script>


</head>

<body>

    <!-- NAVBAR START -->

    <nav class="navbar navbar-expand-sm bg-warning p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><i
                class="fa-solid fa-place-of-worship fa-bounce fa-xl m-2"></i>🇧​​​​​🇴​​​​​🇦​​​​​🇹​​​​​🇸​​​​​🇹​​​​​🇷​​​​​🇦​​​​​🇵​​​​​</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- NAVBAR END -->
    <div class="container-fluid">
        <h1 class="m-5 text-warning">Bootstrap Activity Page!</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="card shadow text-center">
                    <img src="https://images.unsplash.com/photo-1582845512747-e42001c95638?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
                        alt="Product 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Duck</h5>
                        <p class="card-text">Cred wayfarers aesthetic DIY four loko. Single-origin coffee lo-fi schlitz
                            banh mi, retro portland tumblr waistcoat salvia PBR&B mlkshk.</p>
                        <a href="#" class="btn btn-warning">Duck</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow text-center">
                    <img src="https://images.unsplash.com/photo-1559830772-73d4ede5bcac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
                        alt="Product 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">DuckToy2</h5>
                        <p class="card-text">Cred wayfarers aesthetic DIY four loko. Single-origin coffee lo-fi schlitz
                            banh mi, retro portland tumblr waistcoat salvia PBR&B mlkshk.</p>
                        <a href="#" class="btn btn-warning">Duck</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow text-center">
                    <img src="https://images.unsplash.com/photo-1620447789324-fd300c136721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80"
                        alt="Product 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ducki3</h5>
                        <p class="card-text">Cred wayfarers aesthetic DIY four loko. Single-origin coffee lo-fi schlitz
                            banh mi, retro portland tumblr waistcoat salvia PBR&B mlkshk.</p>
                        <a href="#" class="btn btn-warning">Go</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
</body>

</html>